<div class="panel panel-default">
    <div class="panel-heading">
        <h4 class="pannel-title">
            User Form
        </h4>
    </div>
    <div class="panel-body">
        <form (ngSubmit)="saveUser()" id="user-form">
          <div class="form-group">
            <label for="username">Name</label>
            <input type="text"
                class="form-control" 
                id="username" name="username"
                placeholder="Name"
                [(ngModel)]="user.username">
          </div>
          <div class="form-group">
            <label for="email">Email</label>
            <input type="text" 
                class="form-control" 
                id="email" name="email"
                placeholder="Email"
                [(ngModel)]="user.email">
          </div>
          <div class="form-group">
            <label for="password">Password</label>
            <input type="password"
                class="form-control"
                id="password" name="password"
                placeholder="Password"
                [(ngModel)]="user.password">
          </div>
          <div class="form-group">
            <label for="passwordconf">Confirm Password</label>
            <input type="password"
                class="form-control"
                id="passwordconf" name="passwordconf"
                placeholder="Confirm Password"
                [(ngModel)]="user.passwordconf">
          </div>
            <div class="form-group">
            <label for="gender">Gender</label>
            <input type="text"
                class="form-control"
                id="gender" name="gender"
                placeholder="Gender"
                [(ngModel)]="user.gender">
          </div>
          <div class="form-group">
            <label for="age">Age</label>
            <input type="text"
                class="form-control"
                id="age" name="age"
                placeholder="Age"
                [(ngModel)]="user.age">
          </div>
          <div class="form-group">
            <label for="age">Height</label>
            <input type="text"
                class="form-control"
                id="height" name="height"
                placeholder="Height"
                [(ngModel)]="user.height">
          </div>
          <div class="form-group">
            <label for="weight">Weight</label>
            <input type="text"
                class="form-control"
                id="weight" name="weight"
                placeholder="Weight"
                [(ngModel)]="user.weight">
          </div>
          <div class="form-group">
            <label for="cnorm">Norm of calories</label>
            <input type="text"
                class="form-control"
                id="cnorm" name="cnorm"
                placeholder="Norm of calories"
                [(ngModel)]="user.cnorm">
          </div>
        </form>
        <button 
            type="submit" 
            class="btn btn-primary"
            form="user-form">Save
        </button>
        <button class="btn btn-primary" 
            (click)="goBack()">Back
        </button>
    </div>
</div>

