
// Colors

$warmDeepGray: rgb(56,49,57);
$coldDeepGray: rgb(33,35,40);
$lightGray: rgb(178,174,191);
$middleGray: rgb(97,95,94);

$lightBeige: rgb(217,216,214);
$middleBeige: rgb(209,175,165);
$deepBeige: rgb(148,99,105);

$lightCyan: rgb(181,217,217);
$middleCyan: rgb(111,182,187);
$deepCyan: rgb(30,150,166);

$warmBrown: rgb(93,56,64);
$vinous: rgb(125,13,35);
$lime: rgb(206,219,125);
$purple: rgb(215,157,181);

$main_bgcolor: $warmDeepGray;

$about_bgcolor: $deepCyan;
$cats_bgcolor: $lightBeige;
$landscape_bgcolor: $warmBrown;
$flowers_bgcolor: $lightCyan;
$stilllife_bgcolor: $middleBeige;
$filter_bgcolor: $middleCyan;
$contacts_bgcolor: $deepBeige;

// Fonts

$headerFont: museo-sans, sans-serif, serif;

$menuItem: '.menu-item';

// View Ports
