<!DOCTYPE html>
<html>
<head>
    <title>FoodAdviser</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
</head>
<body>
    <div class="container">
        <div class="page-header">
            <h3>Login page</h3>
        </div>
        <div class="panel-body">
            <form class="navbar-form navbar-left" method="post" action="/login" enctype="application/x-www-form-urlencoded">
                <div>
                    <input type="text" name="login" placeholder="login" class="form-control"/>
                </div>
                <div>
                    <input type="password" name="password" placeholder="password" class="form-control"/>
                </div>
                <div>
                    <button type="submit" class="btn btn-success">Login</button>
                    <a class="btn btn-primary" href="/registration" role="button">Create Account</a>
                </div>
            </form>
        </div>
    </div>
</body>
</html>
