
/* ABOUT BLOCK */

.about {
    display: inline-flex;
    flex-basis: 500px;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: center;
    margin: 20px 0;

    font: 20px/24px $MAIN_FONT;
    color: $SOCIAL_BG_COLOR;

    &__link {
        color: $SOCIAL_BG_COLOR;
        text-decoration: none;
    }
}