
/* BRAND LOGO STYLES*/

.brand-logo {
    display: inline-block;
    font-family: $MAIN_FONT;
    line-height: $HEADER_HEIGHT;
    padding-left: 20px;

    @include desktop {
        font-size: 36px;
    }

    @include tablet {
        font-size: 28px;
    }

    @include mobile {
        font-size: 24px;
    }

    &__link {
        color: $HEADER_TEXT_COLOR;
        text-decoration: none;
    }

    &__image {
        width: 40px;
        height: 40px;
        padding-right: 5px;

        @include mobile_tablet {
            display: none;
        }

        @include desktop {
            display: inline-block;
        }
    }
}
