
/* SEARCH BAR IN HEADER */

.search {
    position: relative;
    font-family: $MAIN_FONT;
    height: $INPUT_HEIGHT;
    margin-right: 20px;
    margin-top: 7px;

    @include tablet_desktop {
        display: inline-block;
        width: 85%;
        float: right;
    }

    @include mobile {
        display: block;
        width: 100%;
        float: none;
    }

    &__input {
        width: 100%;
        height: 100%;
        padding-right: $INPUT_HEIGHT;
        float: left;
        font-size: 16px;
        box-sizing: border-box;

        @include tablet_desktop {
            padding-left: 10px;
        }

        @include mobile {
            padding-left: 20px;
            border: none;
            border-bottom: 1px solid $HEADER_BG_COLOR;
        }
    }

    &__button {
        width: $INPUT_HEIGHT;
        height: $INPUT_HEIGHT;
        line-height: $INPUT_HEIGHT;
        margin-left: -$INPUT_HEIGHT;
        font-size: 22px;
        text-align: center;
        background-color: transparent;
        color: $THEME_LIGHT;
        text-decoration: none;
        border: none;
        cursor: pointer;
        float: left;
    }
}
