<div class="panel panel-default">
  <div class="panel-heading">
    <h4 class="pannel-title">
      Product Form
    </h4>
  </div>
  <div class="panel-body">
    <form (ngSubmit)="findProduct()" id="product-form">
      <div class="form-group">
        <label for="name">Product name</label>
        <input type="text"
               class="form-control"
               id="name" name="name"
               placeholder="Product name"
               [(ngModel)]="product.name">
      </div>
      <div class="form-group">
        <label for="calories">Calories</label>
        <input type="text"
               class="form-control"
               id="calories" name="calories"
               placeholder="Calories"
               [(ngModel)]="product.calories">
      </div>

      <div class="form-group">
        <label for="protein">Protein</label>
        <input type="text"
               class="form-control"
               id="protein" name="protein"
               placeholder="Protein"
               [(ngModel)]="product.protein">
      </div>

      <div class="form-group">
        <label for="fats">Fats</label>
        <input type="text"
               class="form-control"
               id="fats" name="fats"
               placeholder="Fats"
               [(ngModel)]="product.fats">
      </div>

      <div class="form-group">
        <label for="carbohydrate">Carbohydrate</label>
        <input type="text"
               class="form-control"
               id="carbohydrate" name="carbohydrate"
               placeholder="Carbohydrate"
               [(ngModel)]="product.carbohydrate">
      </div>
    </form>

    <button
            type="submit"
            class="btn btn-primary"
            form="product-form">Find
    </button>
    <button class="btn btn-primary"
            (click)="goBack()">Back
    </button>
  </div>
</div>

