<div class="panel panel-default">
	<div class="panel-heading">Product</div>
	<div class="panel-body">
		<ul>
			<li>Name: {{product.name}}</li>
			<li>Category: {{product.category}}</li>
			<li>Calories per 100gr: {{product.calories}}</li>
			<li>Proteins: {{product.protein}}</li>
			<li>Fats: {{product.fats}}</li>
			<li>Carbohydrate: {{product.carbohydrate}}</li>
		</ul>
		<button class="btn btn-primary btn-sm"
				routerLink="/products/edit/{{product._id}}" routerLinkActive="active">
			Edit
		</button>
	</div>
</div>
