<div>
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#main-nav-angular" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="{{originUrl}}" routerLinkActive="active">FoodAdviser</a>
                <a class="navbar-brand" routerLink="/" routerLinkActive="active">Product Calorizator</a>
            </div>

            <div class="navbar-collapse" id="main-nav-angular">
                <ul class="nav navbar-nav">
                    <li routerLinkActive="active">
                        <a routerLink="/products">Products</a>
                    </li>
                    <li routerLinkActive="active">
                        <a routerLink="/users">Users</a>
                    </li>
                    <li routerLinkActive="active">
                        <a routerLink="/admin">Admin</a>
                    </li>
                    <li routerLinkActive="active">
                        <a routerLink="/login">Login</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <div class="container">
        <router-outlet></router-outlet>
    </div>
</div>
